<!DOCTYPE html>
<html lang="tr">
<head>
    {% load i18n cache static settings plugins %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CAMGIS Contributors">
    <link rel="icon" type="image/png" href="{% settings_image_url 'app_logo_favicon' %}" sizes="32x32">

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css' %}" />

    <link href="{% static 'app/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'app/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="{% static 'app/js/vendor/es6-shim.min.js' %}"></script>
    <script src="{% static 'app/js/vendor/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'app/js/vendor/system.js' %}"></script>
    <script src="{% url 'javascript-catalog' %}"></script>

    {% block headers-before-bundle %}{% endblock %}

    {% load render_bundle from webpack_loader %}
    {% render_bundle 'main' %}

    {% autoescape off %}
    {% get_plugins_js_includes %}
    {% get_plugins_css_includes %}
    {% endautoescape %}

    <title>{{title|default:"Login"}} - {{ SETTINGS.app_name }}</title>



</head>
<body style="background-color:#0d1417;">
    <div id="wrapper">
        {% block page-wrapper %}
        {% endblock %}
    </div>
</body>
<script src="{% static 'app/js/vendor/bootstrap.min.js' %}"></script>

</html>